* {
    margin: 0;
    padding: 0;
}
#back{
    background-color: white;
    min-height: 100vh;
}
#dark_white_mode{
    display:inline-flex;
    position: relative;
    margin-top: 10px;
    left: 100%;
    transform: translate(-140%);
}
#moon{
    margin-right: 5px;
}
#Text{
    width: 350px;
    height: 300px;
    left: 50%;
    transform: translate(-50%);
    color: black;
    position: relative;
    top: 180px;
    text-align: center;
    
}
.hi, h2{
    font-size: 18px;
}
#hand{
    font-size: 20px;
    position: relative;
}
#animated-text {
    position:relative;
    font-size: 18px;
    white-space: pre-line;
    font-size: 24px;
    height: 60px;
    margin-top: 20px;
}
#images{
    width: 200px;
    height: 50px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    text-align: center;
}
#gitLogo{
    width: 50px;
}
#linkedLogo{
    width: 45px;
    margin-left: 10px;
}
p{
    cursor: pointer;
}