* {
    margin: 0;
    padding: 0;
}
#fundo{
    background-color: #d6d6d6;
    min-height: 100vh;
}
#Text{
    width: 350px;
    height: 300px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    position: relative;
    top: 175px;
    text-align: center;
    
}
.hi, h2{
    font-size: 18px;
}
#hand{
    font-size: 20px;
    background-color: blue;
    position: relative;
}
#animated-text {
    position:relative;
    font-size: 18px;
    white-space: pre-line;
    font-size: 24px;
    height: 60px;
    margin-top: 20px;
}