<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/js/script.js" defer></script>
    <title>Luiz's Website</title>
</head>
<body>
    <div id="fundo">

        <div id="cabecalho">
            <ul class="menu">
                <a href="https://www.linkedin.com/in/luizscolari" target="_blank"><li>Linkedin</li></a>
                <a href="https://github.com/LuizScolari" target="_blank"><li>Github</li></a>
            </ul>
        </div>

        <div id="Text">
            <h1 class="hi">Hi, my name is</h1>
            <h1 class="name">Luiz Roberto Scolari</h1>
            <br>
            <div id="animated-text"></div> <!-- Div para o texto animado -->
        </div>
    </div>
</body>
</html>
